<div class="grid">
  <div class="col-12">
    <p-card styleClass="p-card-custom">
      <div class="grid">
        <div class="col-12" align="center" style="color: rgb(255, 131, 131);">
          <i class="pi pi-times-circle" style="font-size: 12rem"></i>
          <p class="mt-3">ข้อผิดพลาดที่ 404 : Page Not Found</p>
          <p>Sorry, we couldn't find the page you're looking for.</p>
          <p><b>URL : </b>{{ url }}</p>
        </div>

        <div class="col-12" align="center">
          <p-button label="กลับหน้าแรก" routerLink="/" styleClass="p-button-sm p-button-danger"
            icon="pi pi-home"></p-button>
        </div>
      </div>
    </p-card>
  </div>
</div>
