<div class="grid" style="justify-content: center;">
    <div class="col-12 md:col-6" *ngIf="courseList.length > 0">
        <p-accordion [multiple]="true" [activeIndex]="activeIndexArr">
            <p-accordionTab *ngFor="let course of courseList">
                <ng-template pTemplate="header">
                    <div class="grid">
                        <div class="col-12" style="padding: 0 10px;">
                            คอร์ส: {{ course.course_name }}
                        </div>
                        <div class="col-12" style="padding: 0 10px;">
                            <b>สถานะ : </b>
                            <b class="text-danger"
                                *ngIf="course.course_reg[0].registration_status == 1 && course.course_reg[0].users_reg_transfer_document.length == 0 ">กรุณาชำระเงิน</b>
                            <b class="text-warning"
                                *ngIf="course.course_reg[0].registration_status == 1 && course.course_reg[0].users_reg_transfer_document.length > 0">รอการตรวจสอบ</b>
                            <b class="text-danger"
                                *ngIf="course.course_reg[0].registration_status == 0 && course.course_reg[0].users_reg_transfer_document.length > 0">
                                ถูกปฏิเสธ กรุณาตรวจสอบหรือทำการ Upload สลิปเพิ่มเติม
                            </b>
                            <b class="text-success"
                                *ngIf="course.course_reg[0].registration_status == 2">ชำระเงินแล้ว</b>
                        </div>
                    </div>
                </ng-template>

                <div class="grid" align="center">
                    <div class="col-12">
                        <h3>วิธีการชำระเงิน</h3>
                        <img alt="Card" onerror="this.src='./assets/cover/null-money-cover.png'" style="width: 100%;"
                            [src]="course.img_account ? api_url + '/public/' + course.img_account : './assets/cover/null-money-cover.png'" />
                    </div>
                    <div class="col-12">
                        <h3>ข้อมูลชำระเงิน</h3>
                        {{
                        course.course_reg[0].users_reg_transfer_document.length > 0 ||
                        course.course_reg[0].registration_status == 2 ?
                        'หลักฐานการชำระเงินของคุณ' :
                        'กรุณา Upload หลักฐานการชำระเงิน'
                        }}
                    </div>
                    <ng-container *ngIf="course.course_reg[0].users_reg_transfer_document.length > 0">
                        <div class="col-12" *ngFor="let recept of course.course_reg[0].users_reg_transfer_document">
                            <img alt="[IMG] รูปภาพการชำระเงิน" [src]="api_url + '/public/' + recept.transfer_document"
                                style="width: 100%;" />
                            <br>
                            <b *ngIf="recept.comment" style="color: red;">หมายเหตุ: {{ recept.comment }}</b>
                            <p-divider></p-divider>
                        </div>
                    </ng-container>
                    <div class="col-12"
                        *ngIf="course.course_reg[0].users_reg_transfer_document.length == 0 || course.course_reg[0].registration_status == 0">
                        <input #slipImageSelect hidden="true" type="file" accept=".heic,.jpeg,.jpg,.png,.gif"
                            (change)="uploadSlipImage($event,course)" />
                        <button pButton label="Upload" class="p-button-success p-button-sm p-button-rounded"
                            (click)="slipImageSelect.click()" icon="pi pi-upload"></button>
                    </div>
                </div>
            </p-accordionTab>
        </p-accordion>
    </div>
</div>